{%  extends 'main/base.html' %}

{% load crispy_forms_tags %}
{%  block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Edit review</h3>
            <form action="" method="POST"> 
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Save changes" class="btn btn-outline-pink">
                <a href="#" onclick="window.history.back(); return false;" class="btn btn-secondary">Cancel</a>
                {% if error %}
                    <strong style="color:red"> {{ error }} </strong>
                {% endif %}
            </form>
        </div>
    </div>
</div>


{%  endblock %}